*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Asap', sans-serif;
  --ff-secondary: 'PT Mono', monospace;

  --fw--reg: 400;

  --clr-bg: #0B1117;
  --clr-accent: #231F0F;
  --clr-accent2: #282E33;
  --clr-accent3: #02060A;
  --clr-light: #ffffff;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}


body {
  margin: 0;
  width: auto;
  height: auto;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  background: var(--clr-bg);
}

h1 {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h1);
  color: var(--clr-light);
}


time {
  color: #606367;
}

p {
  text-align: center;
  color: var(--clr-light);
  font-family: var(--ff-secondary);
}


.wrapper {
  margin: 0 auto;
  width: 1000px;
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}

.videowrapper iframe {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
}


.block-content {
  margin: auto;
  text-align: center;
  width: 35%;
  height: auto;

  padding-left: 32px;
  padding-right: 32px;
}

.block-content h1 {
  display: block;
  font-size: 28px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.block-content p {
  display: block;
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}


.main-nav {
  display: flex;
  padding: 35px;
}

/* This little push class was used to split the navbar in the way I have it currently*/
.push {
    margin-left: auto;
}

/* This part does the color transition when hovered on.*/

.main-nav li {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

ul {
  list-style-type: none;
}

.main-nav a {
    font-size: 30px;
    color: var(--clr-light);
    text-decoration: none;
    transition: color 0.5s;
}

.main-nav a:hover {
    color: black;
}

.navbar {
  display: flex;
  align-items: flex-end; /*Centered the links, alongside padding*/
  height: 70px;
  margin: 0;
}

.navbar li {
  padding-bottom: 20px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.navbar a {
  font-size: 30px;
  color: var(--clr-light);
  text-decoration: none;
  transition: color 0.5s;
}

.navbar a:hover {
  color: black;
}















.header_img::after {
  clear: both;
}

/* footer */

footer {
  display: block;
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: var(--clr-accent3);
}

.socialMediaBlock {
  text-align: center;
}

.socialMediaBlock a:hover img {
  filter: brightness(0);
  transition: 0.5s;
}
