*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Asap', sans-serif;
  --ff-secondary: 'PT Mono', monospace;

  --fw--reg: 400;

  --clr-bgDark: #0B1117;
  --clr-bgLight: #c1dcf7;
  --clr-accent: #231F0F;
  --clr-accent2: #282E33;
  --clr-accent3: #02060A;
  --clr-accent4: #2969FE;
  --clr-fontLight: #ffffff;
  --clr-fontDark: #000000;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}


body {
  margin: 0;
  width: auto;
  height: auto;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  color: var(--clr-fontLight);
  background-color: var(--clr-bgDark);
}


h1 {
  margin: 0;
  display: inline-block;
  font-family: var(--ff-secondary);
  font-size: var(--fs-h1);
  transition: color 0.5s;
}

h3 {
  text-decoration: underline var(--clr-accent4) 3px;
  transition: color 0.5s, text-decoration-color 0.5s;
  font-family: var(--ff-secondary);
}

p {
  margin: 0;
  font-family: var(--ff-primary);
  font-size: 18px;
  transition: color 0.5s;
}

a {
  color: var(--clr-fontLight);
  text-decoration: none;
}

a:visited {
  color: var(--clr-fontLight);
  text-decoration: none;
}


.darkTheme {
  background: var(--clr-bgDark);
  color: var(--clr-fontLight);
}





#main-contain {
  position: relative;
  min-height: 100vh;
  text-align: justify;
  margin: 25px auto auto auto;
  width: 40%;
}

#mikey-foto {
  border-radius: 50%;
  width: 100%;
  float: right;

}

#time {
  font-size: 20px;
}

#transition-fadey {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-name:fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.grids {
  display: grid;
  grid-template-areas:
    "gridOne gridTwo"
    "gridThree gridFour";
  grid-template-rows: 191px;
  grid-template-columns 150px;
  gap: 50px;
}

#gridOne {
  overflow: hidden;
  grid-area: gridOne;
  border-radius: 5%;
}
#gridTwo {
  overflow: hidden;
  grid-area: gridTwo;
  border-radius: 5%;
}
#gridThree {
  overflow: hidden;
  grid-area: gridThree;
  border-radius: 5%;
}
#gridFour {
  overflow: hidden;
  grid-area: gridFour;
  border-radius: 5%;
}

.button {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 40%;
  flex-direction: row-reverse;
  margin: auto;
}

.container__image {
  width: 30%;
}

.container__feature {
  flex: 1;
}


.wrapper {
  margin: 0 auto;
  width: 1000px;
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}

.videowrapper iframe {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
}


.block-content {
  margin: auto;
  text-align: center;
  width: 35%;
  height: auto;
  padding-left: 32px;
  padding-right: 32px;
}

.block-content h1 {
  display: block;
  font-size: 28px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}


.main-nav {
  display: flex;
  padding: 35px;
}

/* This little push class was used to split the navbar in the way I have it currently*/
.push {
    margin-left: auto;
}

/* This part does the color transition when hovered on.*/

.main-nav li {
    border-bottom: 1px solid transparent;
    color: var(--clr-light);
    transition: border-bottom 0.5s;
}

ul {
  list-style-type: none;
}

.main-nav a {
    font-size: 30px;
    color: var(--clr-light);
    text-decoration: none;
    transition: color 0.5s;
}

.main-nav a:hover {
    color: #282E33;
}


/* footer */

footer {
  width: 100%;
  position: absolute;
  height: 2.5rem;
}


.socialMediaBlock {
  text-align: center;
}

.socialMediaBlock a {
  padding: 50px;
}

.socialMediaBlock a:hover img {
  filter: brightness(20%);
  transition: 0.5s;
}
