* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
}

:root {
  --ff-primary: 'Asap', sans-serif;
  --ff-secondary: 'PT Mono', monospace;

  --fw--reg: 400;

  --clr-bg: #0B1117;
  --clr-accent: #231F0F;
  --clr-accent2: #282E33;
  --clr-accent3: #02060A;
  --clr-accent4: #2969FE;
  --clr-light: #ffffff;
  --clr-incorrect: #FC6B00;
  --clr-correct: #282E33;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

body {
  
  margin: 0;
  width: auto;
  height: auto;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  background: var(--clr-bg);
}

.container {
  display: flex;
  width: 35%;
  flex-direction: row-reverse;
  margin: auto;
}

.container__feature {
  flex: 1;
}

.container__feature h1 {
  margin: 0;
  display: inline-block;
  font-family: var(--ff-secondary);
  font-size: var(--fs-h1);
  color: var(--clr-light);
}

.container__feature p {
  color: var(--clr-light);
  margin: 0;
  font-family: var(--ff-secondary);
  font-size: 18px;
}

.wrapper {
  margin:auto;
  width: 770px;
  background: var(--clr-bg);
  border-radius: 10px;
  padding: 35px;
}

.wrapper .input-field {
  z-index: -999;
  opacity: 0;
  position: absolute;
}

.wrapper .content-box {
  padding: 13px 20px 0;
  border-radius: 10px;
}

.content-box .typing-text {
  max-height: 255px;
  overflow-y: auto;
  
}

.typing-text{
  scrollbar-width: none; /*This hides the scrollbar for Firefox*/
}

.typing-text p span.correct {
  color: var(--clr-correct);
}
.typing-text p span.incorrect {
  color: var(--clr-incorrect);
}


.typing-text p {
  color: var(--clr-light);
  font-size: 21px;
  text-align: justify;
  letter-spacing: 1px;
}

.content-box .content {
  display: flex;
  margin-top: 17px;
  padding: 12px 0;
  justify-content: space-between;
}

.content .result-details {
  display: flex;
  color: var(--clr-light);
  width: calc(100% - 140px);
  justify-content: space-between;
}

.result-details li {
  display: flex;
  list-style: none;
}

.result-details li p {
  font-size: 19px;
}

.result-details li span {
  display: block;
  font-size: 20px;
  margin-left: 10px;
}

.result-details li b {
  font-weight: 500;
}

/* Main body */


/* Below is for the nav and footer */
.main-nav {
  display: flex;
  padding: 35px;
}

.main-nav li {
  border-bottom: 1px solid transparent;
  color: var(--clr-light);
  transition: border-bottom 0.5s;
  list-style-type: none;
}



.main-nav a {
  font-size: 30px;
  color: var(--clr-light);
  text-decoration: none;
  transition: color 0.5s;
}

.main-nav a:hover {
  color: #282E33;
}

.push {
  margin-left: auto;
}

/* I'm not sure what this is doing */
.navbar {
  display: flex;
  align-items: flex-end; /*Centered the links, alongside padding*/
  height: 70px;
  margin: 0;
}

.navbar li {
  padding-bottom: 20px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.navbar a {
  font-size: 30px;
  color: var(--clr-light);
  text-decoration: none;
  transition: color 0.5s;
}

.navbar a:hover {
  color: var(--clr-accent2);
}

/* Footer */
footer {
  display: block;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.socialMediaBlock {
  text-align: center;
}

.socialMediaBlock a:hover img {
  filter: brightness(20%);
  transition: 0.5s;
}