.heroContain {
    display: flex;
    width: 40%;
    flex-direction: row-reverse;
    margin: auto;
}

.hero_feature {
    flex: 1;
}

.hero_image {
    width: 100%;
    border-radius: 50%;
    float: right;
}

@media (max-width: 768px) {
    .hero_image {
        display: none;
    }
}
