:root {
  --ff-primary: 'Asap', sans-serif;
  --ff-secondary: 'PT Mono', monospace;

  --fw--reg: 400;

  --clr-bgDark: #0B1117;
  --clr-bgLight: #c1dcf7;
  --clr-accent: #231F0F;
  --clr-accent2: #282E33;
  --clr-accent3: #02060A;
  --clr-accent4: #2969FE;
  --clr-fontLight: #ffffff;
  --clr-fontDark: #000000;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

body {
  margin: 0;
  width: auto;
  height: auto;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  color: var(--clr-fontLight);
  background-color: var(--clr-bgDark);
}

a {
  font-size: 30px;
  color: var(--clr-fontLight);
  text-decoration: none;
  transition: color 0.5s;
}

a:hover {
  color: var(--clr-accent2);
}

a:visited {
  color: var(--clr-fontLight);
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding: 35px;
  border-bottom: 1px solid transparent;
  color: var(--clr-light);
  text-decoration: none;
  transition: border-bottom 0.5s;
}