*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Asap', sans-serif;
  --ff-secondary: 'PT Mono', monospace;
  --fw--reg: 400;

  /* Dark Theme */
  --clr-bgDark: #0B1117;
  --clr-fontLight: #ffffff;
  

  /* Light Theme */
  --clr-bgLight: #fffbeb;
  --clr-fontDark: #000000;

  --clr-accent: #231F0F;
  --clr-accent2: #282E33;
  --clr-accent3: #02060A;
  --clr-accent4: #2969FE;
  
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

#dark {
  color: var(--clr-fontLight);
  background-color: var(--clr-bgDark);
}

#light {
  color: var(--clr-fontDark);
  background-color: var(--clr-bgLight);
}

body {
  margin: 0;
  width: auto;
  height: auto;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

h1 {
  margin: 0;
  display: inline-block;
  font-family: var(--ff-secondary);
  font-size: var(--fs-h1);
}

h3 {
  text-decoration: underline var(--clr-accent4) 3px;
  font-family: var(--ff-secondary);
}

p {
  margin: 0;
  line-height: 1.5;
  font-family: var(--ff-primary);
  font-size: 18px;
}

a {
  font-size: 30px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid transparent;
  transition: color 0.5s;
}

#light a {
  color: var(--clr-fontDark);
}

#dark a {
 color: var(--clr-fontLight);
}

#dark a:hover {
  color: var(--clr-accent2);
}

#light a:hover {
  color: #a8a29e;
}

/*
The visited for the anchor tags was causing some kind of weird
effect where the links would transition to get darker
but would change back to the original color even while hovering still.
I think this happened because I had the font color being set in
the visited css. I'm dumb.

a:visited {

}
*/

.NavLinks {
  height: 15vh;
}

.MobileNavbar {
  display: none;
}

.HamburgerMenu {
  position: absolute;
  right: 2%;
  cursor: pointer;
}

@media (max-width: 768px) {
  #light .mainContain {
    width: 80%;
  }

  #dark .mainContain {
    width: 80%;
  }

  .DesktopNavbar {
    display: none;
  }

  .MobileNavbar {
    display: flex;
    padding-right: 50px;
    align-items: center;
    height: 15vh;
  }
}

.theme-toggle {
  margin: 35px;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  line-height: 40px;
  border: none;
  border-radius: 25%;
  cursor: pointer;
}

.theme-toggle #btn-img {
  margin-top: 7px;
}

.mainContain {
  position: relative;
  min-height: 100vh;
  text-align: justify;
  margin: 25px auto auto auto;
  width: 40%;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
}


nav li {
  padding: 35px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}