.nav {
    display: flex;
    justify-content: flex-end;
}

.navbarList {
    list-style: none;
    display: flex;
}

.navbarList li {
    padding: 5px;
}

.navbarList a {
    text-decoration: none;
}